# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

debug/Copula_GWA qt.tlog/

Debug/

x64/Release/

GWA/build/Desktop_Qt_6_8_2-Debug/.qtc_clangd/.cache/clangd/index/

GWA/build/Desktop_Qt_6_8_2-Debug/.qtc_clangd/

GWA/build/Desktop_Qt_6_8_2-Debug/

build/Desktop_Qt_6_8_2-Debug/.qtc_clangd/.cache/clangd/index/

build/Desktop_Qt_6_8_2-Debug/.qtc_clangd/

build/Desktop_Qt_6_8_2-Release/.qtc_clangd/.cache/clangd/index/

build/Desktop_Qt_6_8_2-Release/.qtc_clangd/

GWA/build/Desktop_Qt_6_8_2-Release/.qtc_clangd/.cache/clangd/index/

GWA/build/Desktop_Qt_6_8_2-Release/.qtc_clangd/

build/Desktop_Qt_6_8_2-Release/

build/Desktop_Qt_6_8_2-Debug/output/tracers/

build/Desktop_Qt_6_8_2-Debug/

build/Desktop_Qt_6_8_3-Debug/

*.user

Outputs/detail_GA.txt

Outputs/GA_Output.txt

.vs/ChronoGW_GUI/CopilotIndices/17.12.53.23981/

.vs/ChronoGW_GUI/v17/

.vs/ChronoGW_GUI/FileContentIndex/

release/ChronoGW_GUI.tlog/

release/
